body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
}
.container{
  width: 600px;
  border: 1px solid #8C7A5E;
  border-radius: 5px;
}
header{
  height: 30px;
  background: #E1DCCF;
  text-transform: uppercase;
  color: #3B352B;
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 10px;
}
.add-dec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
button{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
button a{
  text-decoration: none;
  color: #71624B;
}
.btn-1{
  background: #E1DCCF;
}
main{
  margin: 15px 0;
  padding: 0 10px;
}
h2{
  text-align: center;
  color: #3B352B;
}
.tasks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #978365;
  border-spacing: 1px solid #978365;
  border-radius: 5px;
  padding: 0 5px;
  color: #71624B;
}


